.container {
  background-color: var(--grey);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.button {
  display: inline-flex;
  font-size: 0.875rem;
  position: relative;
  z-index: 1;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  flex: 1;
  justify-content: center;

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.active {
  color: black;

  svg {
    fill: black;
  }
}

.underline {
  background-color: white;
  border-radius: 0.5rem;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  :global(.dark) & {
    background-color: var(--dark);
  }
}