/* DragScrollLayout.module.css */
.dragScrollContainer {
  height: 100vh;
  overflow: auto;
  user-select: none; /* Prevent text selection during dragging */
}

/* Default scrollbar styles for larger screens */
.dragScrollContainer::-webkit-scrollbar {
  width: 8px;
}

.dragScrollContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dragScrollContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.dragScrollContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
.dragScrollContainer {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Hide scrollbars on phone-sized screens */
@media (max-width: 767px) {
  .dragScrollContainer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .dragScrollContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
