.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--border);

  .img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .header {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 8px;

      .title {
        display: block;
        flex: 1;
        font-size: 18px;
        font-weight: 500;
        //text-align: center;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }

    .deliveryTime {
      font-size: 14px;
      font-weight: 500;
      color: var(--secondary-text);
    }
  }
}
