name: Code Quality
on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    uses: RokctAI/shared-workflows/.github/workflows/universal-linter.yml@main
    with:
      run-build-runner: true
    secrets: inherit
